// COLOURS
$font-dark: black;
$font-light: white;

$primary-color: #31c3e7;
$secondary-color: #abe1a0;

$accent-color: #3e6d8f;
$third-color: white;
$shadows: #adb6b5;

$transparent: transparent;

$button-color: #9dc6fb;

$white-shadow: 5px 7px 21px 0px rgba(255, 255, 255, 0.8);
$black-shadow: 5px 7px 21px 0px rgba(0, 0, 0, 0.8);
$button-shadow: 6px 6px 0px #969696;
