@import "../../../assets/variables.scss";
.containerPages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  margin: 1rem;
  //   border: 2px solid white;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  background-color: #00000000;
}

.btnPage {
  background-color: $third-color;
  color: $font-dark;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  min-width: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 10px 15px;
  margin: 3px;
}
.btnPage:hover {
  box-shadow: 6px 6px 0px #969696;
  transform: translateX(-0.3em) translateY(-0.3em);
}

.active {
  background-color: $button-color;
}

@media screen and (max-width: 1500px) {
  .btnPage {
    margin: 0.2rem;
    padding: 0.3rem 0.2rem;
  }
}

@media screen and (max-width: 1180px) {
  .pages {
    display: flex;
    flex-wrap: wrap;
  }
}
